@{
  Layout = "_Layout";
}

<form action="path"  method="post" >
  <label for="name" > Enter the name of the Record  </label>
  <input type="text" name="name" required>
  <button type="submit"> Submit </button>
</form> 