@{
  Layout = "_Layout";
}
@using MusicOrganizer.Models;

<div class ="container">

  <h1>Add an Artist</h1>
  <p>Add an artist here: </p>

  <form action="/artists" method=post>
  <label for="firstName" > Enter Band Name or First Name of Artist </label>
    <input type="text" name="firstName" required>
    <label for="lastName" > Enter Last Name of the Artist: </label>
    <input type="text" name="lastName" placeholder="Optional">
    <button type="submit">Add New Artist</button>
  </form>

<p><a href="/">Back Home</a></p>
<p><a href="/artists">Back to artists</a></p>

</div>
